<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" media='not screen and (min-width: 681px) and (min-height: 880px)' href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" media="(min-width: 681px) and (min-height: 880px)" href="{{ url_for('static', filename='css/base_full.css') }}">
      {% block css_links %}{% endblock %}
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/js/bootstrap-multiselect.js"></script>
      <script src="{{ url_for('static', filename='js/my_js.js') }}"></script>
    <title>{{ title }}</title>
  </head>
  {% block index %}{% endblock %}
  {% block content %}{% endblock %}

</html>
