{% extends "base.html" %}

{% block css_links %}
<link rel="stylesheet" media='not screen and (min-width: 680px) and (min-height: 880px)' href="{{ url_for('static', filename='css/game.css') }}">
<link rel="stylesheet" media="(min-width: 680px) and (min-height: 880px)" href="{{ url_for('static', filename='css/game_full.css') }}">
{% endblock %}

{% block content %}
    <body>
        <div class="wrapper flex-container">
            <div class="navigation">
                <button class="small_button">New game</button>
                <button class="small_button">Log out</button>
            </div>
            <div class="time_wrapper flex_row">
                <div class="small_timer flex_row">
                    <div class="plus vertical_align"><span>+</span></div>
                    <div class="time">
                        <span class="minutes">2</span>
                        <span class="delimiter">:</span>
                        <span class="seconds">00</span>
                    </div>
                    <div class="minus vertical_align"><span>-</span></div>
                </div>
                <div class="reset vertical_align"><span>reset</span></div>
            </div>
            <div class="game_board">
                     <div class="translem_wrapper ">
                    <img class="sound" src="{{ url_for('static', filename='img/sound.svg') }}" alt="">
                    <span class="words">shopping at mmk mlm tmmmmmmmmm mmmm mall</span>
                </div>
                    <div class="translem_wrapper ">
                    <img class="sound" src="{{ url_for('static', filename='img/sound.svg') }}" alt="">
                    <span class="words">shopping at the majjlj jlj ljl ljlll</span>
                </div>
               <div class="translem_wrapper ">
                    <img class="sound" src="{{ url_for('static', filename='img/sound.svg') }}" alt="">
                    <span class="words">shopping at the mall</span>
                </div>
                <div class="translem_wrapper ">
                    <img class="sound" src="{{ url_for('static', filename='img/sound.svg') }}" alt="">
                    <span class="words">shopping at the mall and</span>
                </div>
                <div class="translem_wrapper ">
                    <img class="sound" src="{{ url_for('static', filename='img/sound.svg') }}" alt="">
                    <span class="words">shopping at the mall</span>
                </div>
                <div class="translem_wrapper ">
                    <img class="sound" src="{{ url_for('static', filename='img/sound.svg') }}" alt="">
                    <span class="words">shopping at the</span>
                </div>
                <div class="translem_wrapper ">
                    <img class="sound" src="{{ url_for('static', filename='img/sound.svg') }}" alt="">
                    <span class="words">shopping </span>
                </div>
                <div class="translem_wrapper ">
                    <img class="sound" src="{{ url_for('static', filename='img/sound.svg') }}" alt="">
                    <span class="words">shopping at </span>
                </div>
            </div>
            <div class="control_wrapper flex_row">
                <div class="prev "><span class="arr">«</span><span class="notation">prev</span></div>
                <button class="start_timer"><span>Start timer</span></button>
                <div class="next"><span class="arr">»</span><span class="notation">next</span></div>
            </div>
        </div>
    </body>
{% endblock %}
