{% extends "base.html" %}

{% block index %}
<body onload="initiate_timer()">
  <header>
    <div class="container main_menu">
      <div class="row">
        <div class="quick_start col-6">
          <button class="ajax_start" onclick="startGame()"><img src="{{ url_for('static', filename='img/QUICK START.png') }}" alt="Start Game"></button>
        </div>
        <div class="chosen_topics col-6">
          <select id="custom_topics" multiple="multiple">
            {% for topic in topics %}
              <option value="{{topic}}">{{topic}}</option>
            {% endfor %}
          </select>
        </div>
      </div>
    </div>
  </header>
  <main>
    <div class="timer_container">
      <section id="timer">
        <button class="addHalfMinute" onclick="addHalfMinute()"><img
                src="{{ url_for('static', filename='img/Plus btn.png') }}" alt=""></button>
        <span class="minutes">2</span>
        <span class="delimiter">:</span>
        <span class="seconds">0</span>
        <button class="subtractHalfMinute" onclick="subtractHalfMinute()"><img
                src="{{ url_for('static', filename='img/Minus btn.png') }}" alt=""></button>
        <button class="reset" onclick="resetTimer()"><img
                src="{{ url_for('static', filename='img/Reset btn.png') }}" alt=""></button>
      </section>
    </div>
    <div class="translems_wrapper" onclick="change_language()">
      <section id="english">
      </section>
      <section id="russian">
      </section>
    </div>
  </main>
  <footer class="fixed-bottom">
      <button class="ajax_prev" onclick="prevCard()"></button>
      <button class="control_timer" onclick="controlTimer()">START</button>
      <button class="ajax_new" onclick="nextCard()"></button>
  </footer>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/js/bootstrap-multiselect.js"></script>
  <script src="{{ url_for('static', filename='js/multiselect_js.js') }}"></script>
  <script src="{{ url_for('static', filename='js/my_js.js') }}"></script>
  <script src="{{ url_for('static', filename='js/ajax.js') }}"></script>
</body>
{% endblock %}}
