html {
    min-height: 560px;
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    background: linear-gradient(
        306.99deg, #1CA38C 20.7%,
        rgba(93, 153, 213, 0.59) 53.95%,
        rgba(255, 255, 255, 0.04) 94.93%),
        #0F2C59;
}

* {
    box-sizing: border-box;
}

body {
    /*border: none;*/
    margin: 0;
    padding: 0;
}

div, span {
    margin: 0;
    padding: 0;
}

.navigation {
    margin-top: 5px;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.vertical_align {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.small_button {
    width: 140px;
    height: 40px;
    background: #FFEDC2;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 18px;
    text-align: center;
    border-radius: 10px;

    color: #05296E;
}

.average_button {
    width: 180px;
    height: 60px;
    background: #FFEDC2;
    border-radius: 10px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 20px;
    text-align: center;

    color: #05296E;
}

.big_button {
    width: 220px;
    height: 60px;
    background: #FFEDC2;
    border-radius: 10px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 20px;
    text-align: center;

    color: #05296E;
}

.arrow {
    width: 80px;
    height: 38px;
    background: #FFEDC2;
    border-radius: 10px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 40px;
    text-align: center;

    color: #05296E;
}