html {
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    overflow: auto;

    background: linear-gradient(
        306.99deg, #1CA38C 20.7%,
        rgba(93, 153, 213, 0.59) 53.95%,
        rgba(255, 255, 255, 0.04) 94.93%),
        #0F2C59;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

div, span {
    margin: 0;
    padding: 0;
}

.vertical_align {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navigation {
    width: 660px;
    height: 70px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.small_button {
    width: 180px;
    height: 60px;
    border-radius: 6px;

    background: #FFEDC2;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    color: #05296E;
}

.average_button {
    width: 260px;
    height: 80px;
    background: #FFEDC2;
    border-radius: 6px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 30px;
    text-align: center;
    color: #05296E;
}

.big_button {
    width: 420px;
    height: 100px;
    background: #FFEDC2;
    border-radius: 6px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 30px;
    text-align: center;
    color: #05296E;
}

.arrow {
    width: 150px;
    height: 55px;
    background: #FFEDC2;
    border-radius: 6px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 48px;
    text-align: center;
    color: #05296E;
}