.wrapper {
    width: 660px;
    /*height: 870px;*/
    margin: 0 auto;
}

.first_topic {
    margin-top: 170px;
}

.another_topic {
    margin-top: 70px;
}

.transparent {
    width: 600px;
    height: 60px;
    background: none;
    border: none;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    text-align: center;
    letter-spacing: 0.05em;

    color: #FFEDC2;
}

.start_game {
    margin-top: 34px;
}