.wrapper {
    width: 660px;
    margin: 0 auto;
}

.form_block {
    width: 320px;
    height: 70px;
    text-align: center;
}

.password {
    margin-top: 15px;
}

.label {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 24px;
    letter-spacing: 0.03em;
    color: #FFEDC2;
}

.input_text {
    width: 320px;
    height: 30px;
    background: rgba(255, 237, 194, 0.35);
}

.remember_me {
    width: 185px;
    height: 20px;
    text-align: left;
    margin-top: 25px;
}

.remember_text {
    font-size: 16px;
}

.submit {
    margin-top: 25px;
}

.new_user {
    font-size: 16px;
    margin-top: 20px;
}
