.wrapper {
    max-width: 450px;
    margin: 0 auto;
    width: 100%;
}

.first_topic {
    margin-top: 50px;
}

.another_topic {
    margin-top: 40px;
}

.arrow_nav {
    width: 200px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
}

.start_game {
    margin-top: 35px;
}

#future_topics {
    display: none;
}
